<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ajouter un cours</title>
  <link rel="stylesheet" href="/css/styles.min.css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <div th:replace="base/sidebar"></div>
  <!--  Sidebar End -->

  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <div th:replace="base/header"></div>
    <!--  Header End -->

    <div class="container-fluid">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">[[${pageTitle}]]</h5>
            <div class="card">
              <div class="card-body">
                <form th:action="@{/cours/add}" method="post" th:object="${cours}">
                  <div class="mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" class="form-control" th:field="*{date_cours}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Heure de début</label>
                    <input type="time" class="form-control" th:field="*{heure_debut}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Heure de fin</label>
                    <input type="time" class="form-control" th:field="*{heure_fin}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Lien meet</label>
                    <input type="text" class="form-control" th:field="*{lien_meet}">
                  </div>
                  <!-- Ici normalement ce sont les classes dans lesquelles le prof enseigne-->
                  <!-- <div class="mb-3">
                    <label class="form-label" for="classe">Classe</label>
                    <select id="classe" name="children" th:field="*{classe}" class="form-select">
                      <option th:each="classe : ${classes}" th:value="${classe.id}" th:text="${classe.libelle}"></option>
                    </select>
                  </div>-->
                  <button type="submit" class="btn btn-primary">Valider</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>